<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
    Launch demo modal
</button>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="gridSystemModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <input type="hidden" value=""  class="beni-dinle" id="Id"  data-name="Id"/>
                    <div class="col-md-4">
                        <label>Ad</label><input type="text" class="form-control beni-dinle" id="mAd" 
                                                placeholder="Ad" value="" data-name="Ad">
                    </div>
                    <div class="col-md-4 col-md-offset-4">
                        <label>SoyAd</label><input type="text" class="form-control  beni-dinle"
                                                   id="mSoyAd" placeholder="SoyAd" value="" data-name="SoyAd">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-md-offset-3">
                        <label>Il</label><input type="text" class="form-control  beni-dinle"
                                                id="mIl" placeholder="Il" value="" data-name="Il">
                    </div>
                    <div class="col-md-2 col-md-offset-4">
                        <label>Ilce</label><input type="text" class="form-control  beni-dinle"
                                                  id="mIlce" placeholder="Ilce" value=""  data-name="Ilce">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <label>Adres</label><input type="text" class="form-control  beni-dinle"
                                                   id="mAdres" placeholder="Adres" value="" data-name="Adres">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-9">
                        <label>PostaKodu</label><input type="text" class="form-control  beni-dinle"
                                                       id="mPostaKodu" placeholder="PostaKodu" value="" data-name="PostaKodu">
                        <div class="row">
                            <div class="col-xs-8 col-sm-6">Level 2: .col-xs-8.col-sm-6</div>
                            <div class="col-xs-4 col-sm-6">Level 2: .col-xs-4.col-sm-6</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                    Close
                </button><button id="madd" type="button"
                                 class="btn btn-default">
                    Add
                </button><button id="mdel" type="button"
                                 class="btn btn-default">
                    Delete
                </button><button id="medt" type="button"
                                 class="btn btn-default">
                    Edit
                </button>
            </div>
        </div><!-- /.modal-content-->
    </div><!-- /.modal-dialog-->
</div><!-- /.modal -->

<div class="col-md-12">
    <p>Modal</p>
    <div class="table-responsive">
        <table id="mtable" class="table table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th>Id</th>
                    <th>Ad</th>
                    <th>SoyAd</th>
                    <th>Il</th>
                    <th>Ilce</th>
                    <th>Adres</th>
                    <th>PostaKodu</th>
                </tr>
            </thead>
            <tbody></tbody>
            <tfoot>
                <tr>
                    <th></th>
                    <th>Id</th>
                    <th>Ad</th>
                    <th>SoyAd</th>
                    <th>Il</th>
                    <th>Ilce date</th>
                    <th>Adres</th>
                    <th>PostaKodu</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
@*<script src="https://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
            crossorigin="anonymous"></script>

    <script src="~/Content/js/modal.js"></script>*@


